/* About.css */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: left;
  background-attachment: fixed;
  animation: riseUp 1s ease-out; /* Apply the translateY animation */
}

/* Add keyframes for the translateY animation */
@keyframes riseUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-header {
  position: relative;
}

.about-header h2 {
  font-size: 36px; /* Match the font size of the MyWork header */
  margin-bottom: 10px; /* Match the margin-bottom of the MyWork header */
  padding: 10px 20px;
  background-color: white;
}

.about-header .header-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: purple;
  border-radius: 1px;
}

.about-content {
  display: flex;
  align-items: flex-start; /* Adjusted to align content to the start */
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-image {
  flex: 1; /* Allow the image to take up available space */
  margin-right: 20px;
  max-width: 400px;
}

.about-text {
  flex: 2; /* Allow the text to take up available space */
  max-width: 600px;
  margin-top: 50px;
}

.about-text p {
  font-size: 18px;
  color: #555;
}

.my-work-button {
  margin-top: 40px; /* Added margin to separate the button from the text */
  display: block;
  width: fit-content;
  padding: 15px 30px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  background-color: pink;
  border-radius: 25px;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
}


.my-work-button:hover {
  background-color: #ff66b2; /* Darker pink on hover */
}