/* TalksandWorkshops.css */

.talks-workshops-container {
  padding: 20px;
  text-align: center;
}

.talks-workshops-section {
  margin-bottom: 20px;
  margin-top: 20px;
}

.talks-workshops-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.talks-workshops-images img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}