/* Contact.css */

body {
  background: linear-gradient(to bottom right, #8a2be2, #4b0082);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  height: 100vh; /* Set the height to full viewport height */
  background-attachment: fixed; /* Prevent background from scrolling */
}

.contact-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  gap: 40px;
}

.email-section,
.social-media-section {
  flex: 1;
  text-align: left;
}

.social-media-section h3 {
  margin-bottom: 10px;
}
