body, html {
  min-height: 100vh; /* Ensure background color stretches to the bottom */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  max-height: 100vh; /* Set the minimum height to full viewport height */
  height: 90vh;
  background-attachment: fixed; /* Prevent background from scrolling */
  background: linear-gradient(to bottom right, #a708e6, #3e0143);
  overflow: -moz-hidden-unscrollable;
}

.header {
  flex: 1;
  margin-right: 20px;
  text-align: left;
  max-width: 60vw;
}

.header h1 {
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  color: white;
}

.header p {
  font-size: 40px;
  color: white;
  text-align: center;
}

.home-image {
  max-width: 50vw;
  margin-bottom: 5vh;
}

@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column; /* Stack items vertically for screens up to 768px width */
    align-items: center; /* Center items horizontally */
  }

  .header {
    margin-bottom: 20px; /* Add some spacing between the header and the image */
  }

  .home-image {
    object-fit: contain;
    max-width: 100%; 
  }
}
