body {
  margin: 0;
  background-color: #d9adf7; /* Light purple background */
  font-family: Arial, sans-serif; /* Set a default font */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #8a2be2; /* Dark purple navbar */
  color: white;
}

.logo img {
  width: 10vh; /* Set the width of the logo */
  height: 10vh; /* Maintain aspect ratio */
  margin-right: 10px; /* Add spacing between logo and menu icon */
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 130px;
    left: 0;
    background-color: #8a2be2;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
    text-align: center;
    }
}
