.social-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-icons i {
  font-size: 35px;
  color: black;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s fade-in; 
}

.social-icons i:hover {
  box-shadow: 0 0 8px rgba(33,33,33,.2);
}

@media screen and (orientation: portrait) {
  .social-icons {
    display: none;
  }
}